
a:active { outline: none;}

.header .nav         {float: right; color: green;}
.footer .nav         {text-align: center;}

.about-blk           {width: 75%; margin-left: auto; margin-right: auto}
.about-hl            {color: DarkGray}
.bookerrors          {text-align: left; width: 70%; margin: auto; margin-top: 3em; background-color: AliceBlue; padding: 1em;}
.bookerror           {background-color: #F0F0F0; border-bottom: thin groove; margin-top: 3px; padding: 1em;}
.booktitle           {font-size: 2em; margin-bottom: 8px}
.booklist            {text-align: left; width: 70%; margin: auto; background-color: AliceBlue}
.booklistitem        {background-color: #F0F0F0; border-bottom: thin groove; margin-top: 3px}
.booklistitemauthor  {font-size: 11pt; font-color: silver}
.booklistitemcontent {position: absolute; margin-left: 10px}
.booklistitemtitle   {font-size: 11pt; font-weight: normal}
.bookauthor          {font-size: 1.2em}
.cartbuttons         {text-align: center;}
.cartheader          {font-family: palintino, serif;  text-align: center;; font-size: 2em;}
.carttable           {margin: auto;}
.cartrow             {font-size: 13px;}
.cartcolumns         {font-size: 15px}
.cartcolumncell      {border-bottom: ridge; border-left: none; border-right: none; border-top: none}
.cartcell            {border-top: 1px solid; border-left: none; border-right: none}
.cartsumcell         {border-top: ridge; border-bottom: none; border-left: none; border-right: none}
.carttitle           {font-weight: bold}
.checkoutblurb       {width: 48%; font-size: 10px; margin: auto; margin-top: 3em; padding: 10px 0px 0px 10px; border: medium double}
.headertitle         {margin: 0em; padding: 5px; border-bottom: solid; font-family: palintino, serif; font-size: 2em; text-align: center}
.itemattrs           {margin-bottom: 2px}
.reviewcontent       {background-color: #FEFEFE; margin-left: 0px; margin-right:0px; padding: 1em; border-top: groove;}
.reviewsitemtitle    {font-size: 11pt; margin-bottom: 0.5em; font-weight: bold}
.reviewsitemimage    {float: left; margin-right: 1em}
.reviewsitem         {margin-top: 0.2em; border-bottom: thin groove}
.similar-desc        {margin-top: 1em;}
.tours-blk           {width: 85%; margin-left: auto; margin-right: auto}
.yui-nav             {font-size: 0.9em}

#amazon-price        {color: Blue; font-weight: bold}
#amazon-price-label  {color: DarkBlue; font-weight: bold}
#amazon-banner       {margin-left: 28%; margin-top: 1em}
#cal1Container       {float: right; font-size: 11px}
#doc3                {margin: 20px}
#bookmain            {margin-top: 1em; text-align: left}
#feedbackbody        {margin-top: 2em; margin-left: 12%}
#itemoffer           {float: right;}
#itemprice           {align: left}
#push-button-addto-cart {float: right}
#cartaddlink         {background:  url(../../static/knozama/Shoppingcart_32x32.png) no-repeat scroll 5px; width: 160px; height: 50px;float: right; font-family: palintino, serif; font-weight: bold; font-size: 13px; padding-left: 24px; outline: none}
#custreviews         {margin: 5px}
#searchform          {background-color: #EDF5FF; padding: .05em; margin: auto; width: 70%; border-bottom: medium groove}
#summary             {font-size: 1.2em; margin-bottom: 2px;}
#tagline             {margin-top: 1em; font-size: 1.2em;}
#zipform             {margin-bottom: 2em}
#zipid               {margin-left: .5em}


#resulttable        {float: center;}
#yui-dt0-bodytable  {margin: auto;}
