#!/bin/sh
/usr/local/racket/bin/raco planet show

echo "Linking"
/usr/local/racket/bin/raco planet link knozama common.plt 1 5 /code/knozamalib/src/racket/common/
/usr/local/racket/bin/raco planet link knozama r6rs.plt 1 0 /code/knozamalib/src/racket/r6rs
/usr/local/racket/bin/raco planet link knozama webkit.plt 1 3 /code/knozamalib/src/racket/webkit/
/usr/local/racket/bin/raco planet link knozama xml.plt 1 3 /code/knozamalib/src/racket/xml
/usr/local/racket/bin/raco planet link knozama aws.plt  1 3 /code/knozamalib/src/racket/aws/
 
/usr/local/racket/bin/raco planet show
