#!/bin/sh
/usr/local/racket/bin/raco planet show

echo "Linking"

/usr/local/racket/bin/raco planet link rpr prelude.plt 1 0 /code/racketlib/prelude
/usr/local/racket/bin/raco planet link rpr r6rs.plt 1 0 /code/racketlib/r6rs
/usr/local/racket/bin/raco planet link rpr aws.plt 1 0 /code/racketlib/aws
/usr/local/racket/bin/raco planet link rpr crypto.plt 1 0 /code/racketlib/crypto
/usr/local/racket/bin/raco planet link rpr format.plt 1 0 /code/racketlib/format
/usr/local/racket/bin/raco planet link rpr google.plt 1 0 /code/racketlib/google
/usr/local/racket/bin/raco planet link rpr httpclient.plt 1 0 /code/racketlib/httpclient
/usr/local/racket/bin/raco planet link rpr mining.plt 1 0 /code/racketlib/mining
 
/usr/local/racket/bin/raco planet show
